/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*Rewrite default page styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
/* Body */
body {
    font-size: x-large;
    font-family: 'Kaushan Script', cursive;
    color:antiquewhite;
    background: black url("../images/background.webp") no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
    font-size: medium;
}

#logo {
    max-height: 70px;
    padding-right: 10px;
}

/* Music control */
#music-div button {
    background-color: transparent;
    color: antiquewhite;
    padding-left: 15px;
    border-style: none;
    font-size: x-large;
    cursor: pointer;
}
/* Buttons */
button {
    cursor: pointer;
}

button:hover {
    color:blueviolet !important;
}

/* Restart button styling */
#restart-btn{
    border-radius: 20px;
    padding: 0 10px;
    background-color: #6a39ce24;
    color: antiquewhite;
    font-size: inherit;
    font-family: inherit;
}

/* Main content */
main {
    /* Make main element take any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 5%;
}

/* Separate game grid to match amount of cards */
#game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 5% 0;
}
 
/* Cards styling */
.card {
    position: relative;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius: 5%;
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('https://i.ibb.co/4K272ww/blank.webp');
    background-size: 100%;
    border-radius: 5%;
    backface-visibility: hidden;
}

.cardOpen {
    transform: rotateY(180deg);
}

.cardMatch {
    transform: rotateY(180deg);
}

.card img {
    border-radius: inherit;
    width: 100%;
}

.card:hover {
    box-shadow: 0 0 5px 2px blueviolet;
    transition: all .5s;
}

.card:active {
    transform: scale(.97);
}

/* Footer */
footer {
    padding: 15px 0;
    font-size: medium;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px)  {
    header{
        font-size: x-large;
        gap: 50px;
        padding-top: 10px;
    }
    #game {
        width:80vw;
        gap:10px
    }

    .card :active {
        box-shadow: 0 0 10px 3px blueviolet;
    }
}

/* Media query: laptops and larger (1024px and up) */
@media screen and (min-width: 1024px) {
    #game {
        width: 80vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}