/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*Rewrite default page styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Body */
body {
    font-size: x-large;
    font-family: 'Kaushan Script', cursive;
    color:antiquewhite;
    background: black url("../images/background.webp") no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
    margin-left: 20px;
    align-items: center;
}

#logo {
    max-height: 70px;
}

/* Music control styling */
#music-div button {
    background-color: transparent;
    color: antiquewhite;
    padding-left: 15px;
    border-style: none;
    font-size: x-large;
    cursor: pointer;
}
/* Buttons */
button {
    cursor: pointer;
}

button:hover {
    color:blueviolet !important;
}

/* Restart button styling */
#restart-btn{
    border-radius: 20px;
    padding: 0 10px;
    background-color: #6a39ce24;
    color: antiquewhite;
    font-size: inherit;
    font-family: inherit;
}

/* Main content */
main {
    /* Make main element take any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 20px;
    width: 95vw;
}


/* Game area */
#container {

}

#container img {
    border-radius: 5%;
}
/* Footer */
footer {
    margin-bottom: 20px;
    font-size: medium;
}

#actions {
    /* Spread elements around the div */
    display: flex;
    justify-content: space-around;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px)  {
    header{
        font-size: x-large;
        gap: 50px;
    }
    main {
        width:80vw;
    }
}

/* Media query: laptops and larger (1024px and up) */
@media screen and (min-width: 1024px) {
    
}