/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Kode+Mono:wght@400..700&display=swap');

body{
    /*Background image styling*/
    background: black url("../images/background.jpg") no-repeat fixed right top;
    background-size: cover;
    /*General body styles*/
    margin:0;
    color:#1DF500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Kode Mono', monospace;
}

/*Body's children*/
body>*{
    background-color: rgba(0, 0, 0, 0.40);
    margin-bottom: 15px;
    box-shadow: 0 0 5px black;
}

/*Logo*/
#logo{
    font-size: 300%;
}

/*Nav bar*/
nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.70);
}

#navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
}

/*Anchor tag decoration*/
a{
    text-decoration: none;
    color:#1DF500;
}

/*Headings*/
h1, h2, h3{
    color: white;
    text-shadow:#1DF500 1px 0 7px;
}

/*Header*/
header{
    height:500px;
    text-align: center;
    padding-bottom: 10px;
    background: url(../images/hero-img.webp) no-repeat center center / cover;
    padding-top: 70px;
}

hr{
    border: 1px solid #1DF500;
    box-shadow: #1DF500 0 0 10px;
    margin-top: 350px;
}

/*Slogan styling in header*/
#slogan {
    letter-spacing: 10px;
    text-shadow: 0px 0px 4px white;
}

/*Navigation bar*/
#navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
}

/*Main content*/
main{
    /*Make main element take any surplus space to push footer down*/
    flex: 1 0 auto;
    padding: 20px;
}

/*Footer*/

footer{
    text-align:center;
}

#social{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 200%;
    padding-inline-start: 0%;
    margin-block: 0.5em;
}

/*Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    li{
        text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        transition: text-decoration-color 300ms;
    }
    li:hover{
        text-decoration-color: #1DF500;
    }
    }

    
    @media screen and (min-width: 1440px) {
        header {
            height: 600px;
        }
        header hr{
            margin-top: 450px;
        }
    }
